* {
    border: 1px solid black;
}

html {
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
}

:root {
    --ColmarGreen: #1D8181;
    --BrickRed: #CB4154;
    --OldBrickRed: #841F27;
}

@font-face {
    font-family: "LCD Standard";
    src: url(../../resources/fonts/LcdStd.otf);
}

@font-face {
    font-family: "Ringbearer Medium";
    src: url(../../resources/fonts/RINGM.ttf) format("truetype");
}

@font-face {
    font-family: "Graduate Regular";
    src: url(../../resources/fonts/Graduate-Regular.ttf) format("truetype");
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.parent-container {
    position: relative;
}

#content-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}

.countdown-container {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1200px;
    margin: 0 auto;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.video #video-container.background {
    z-index: -1;
    height: 100%;
    position: fixed;
    width: 100%;
}

.video video.background {
    width: 100%;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.no-video body.background {
    background: url('../../resources/images/background-image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -5;
}

#diffuser {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: Gray;
    opacity: 0;
    z-index: 10;
    -webkit-transition: opacity 5000ms;
    -o-transition: opacity 5000ms;
    transition: opacity 5000ms;
}

#navbar {
    width: auto !important;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: -webkit-gradient(linear, left top, right top, from(rgba(132, 31, 39, 0.0)), to(var(--OldBrickRed)));
    background: -webkit-linear-gradient(left, rgba(132, 31, 39, 0.0), var(--OldBrickRed));
    background: -o-linear-gradient(left, rgba(132, 31, 39, 0.0), var(--OldBrickRed));
    background: linear-gradient(to Right, rgba(132, 31, 39, 0.0), var(--OldBrickRed));
    z-index: 10;
}

#navbar img {
    float: left;
}

#logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 1.5rem;
    background-color: var(--ColmarGreen);
}

#logo .shadow {
    position: Absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#logotype {
    border-radius: 0px 4px 4px 0px;
}

#logotype h1 {
    width: auto;
    font-size: 1.75rem;
    font-family: 'Ringbearer Medium', "Graduate Regular";
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 8px;
    margin-right: 5px;
    color: Black;
    background-color: Beige;
    text-shadow: 2px 2px 4px;
    text-decoration: underline;
}

#navbar nav {
    margin-right: 0.5rem;
}

#navbar nav a {
    font-family: inherit;
    color: beige;
    margin: 0 1rem;
}

.mobile-header {
    display: none;
}

#banner-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 40%;
    margin-right: 1.5rem;
}

#banner-content p {
    margin-bottom: 2rem;
}

#banner-content p:nth-child(2) {
    color: Gray;
    font-family: 'Times New Roman', serif;
}

#banner-content nav {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#banner #start-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1rem;
    font-size: 1.5rem;
    background: -webkit-gradient(linear, left top, right top, from(Black), color-stop(var(--ColmarGreen)), to(Black));
    background: -webkit-linear-gradient(left, Black, var(--ColmarGreen), Black);
    background: -o-linear-gradient(left, Black, var(--ColmarGreen), Black);
    background: linear-gradient(to Right, Black, var(--ColmarGreen), Black);
    border-radius: 4px;
    margin: 0;
    color: beige;
    border: none;
}

#banner #start-button a {
    color: beige;
    padding: 8px;
}

#banner #start-button:hover {
    cursor: pointer;
}

.large-horizontal-content-container img {
    width: 60%;
    Margin-right: 2rem;
    Float: left;
    padding: 32px 24px;
}

.large-horizontal-content-container p:nth-child(1) {
    font-family: 'Graduate Regular', Helvetica, Arial;
    Color: var(--OldBrickRed);
    font-size: 2rem;
    Font-weight: 700;
}

.large-horizontal-content-container p:nth-child(2) {
    font-family: Times, Arial;
    Color: gray;
    font-size: 2rem;
    Font-weight: 700;
}

#general-info {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    color: gray;
    background-color: Beige;
}

#general-info .large-vertical-content-container {
    width: 60%;
    padding: 32px 24px;
}

#general-info .large-vertical-content-container img {
    width: 100%;
    height: auto;
}

#general-info .large-vertical-content-container p:nth-child(2) {
    color: var(--OldBrickRed);
    font-size: 2.25rem;
    Font-weight: 700;
    margin-top: 32px;
    margin-bottom: 24px;
    font-family: 'Graduate Regular', Helvetica, Arial;
}

#general-info .large-vertical-content-container p:nth-child(3) {
    font-family: Times, script;
    font-style: italic;
    Color: Inherit;
    font-size: 1.25rem;
    margin-top: 24px;
    margin-bottom: 32px;
}

#general-info .large-vertical-content-container p:nth-child(4) {
    font-family: Helvetica, Arial;
    Color: Inherit;
    font-size: 1rem;
    margin-top: 48px;
    font-style: italic;
}

#general-info .small-tile-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 40%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.small-horizontal-content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem;
}

.small-horizontal-content-container:nth-child(Odd) {
    color: Black;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(Right, To), color-stop(var(--ColmarGreen)), to(Beige));
    background: -webkit-linear-gradient(To Right, var(--ColmarGreen), Beige);
    background: -o-linear-gradient(To Right, var(--ColmarGreen), Beige);
    background: linear-gradient(To Right, var(--ColmarGreen), Beige);
}

.small-horizontal-content-container:nth-child(Even) {
    color: Beige;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(Left, To), color-stop(var(--BrickRed)), to(Beige));
    background: -webkit-linear-gradient(To Left, var(--BrickRed), Beige);
    background: -o-linear-gradient(To Left, var(--BrickRed), Beige);
    background: linear-gradient(To Left, var(--BrickRed), Beige);
}

.small-horizontal-content-container img {
    Width: 35%;
    Height: auto;
    float: left;
    margin-right: 1rem;
}

.small-horizontal-content-container a {
    font-size: 1.25rem;
    font-weight: 700;
    color: Yellow;
}

.small-horizontal-content-container a,
.small-horizontal-content-container p,
.small-horizontal-content-container h2 {
    margin: 8px 0;
}

.small-horizontal-content-container h2:nth-child(1) {
    font-size: 2rem;
}

.small-horizontal-content-container h2:nth-child(2) {
    font-size: 1rem;
}

#general-info .small-horizontal-content-container:nth-child(1) h2:nth-child(2):hover {
    cursor: pointer;
    color: Yellow;
}

#general-info-mobile {
    display: none;
}

.section-heading {
    color: var(--OldBrickRed);
    Padding: 32px;
    width: 100%;
    text-align: center;
    font-family: 'Graduate Regular', Helvetica, Arial;
    font-size: 2.5rem;
}

#curriculum {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#curriculum a {
    width: 25%;
    margin: 0 16px;
    margin-bottom: 2rem;
    border-radius: 6px;
}

#curriculum .small-vertical-content-container {
    position: relative;
    width: 100%;
    font-family: Helvetica, Arial;
    color: Gray;
    Background-color: White;
    border-radius: 6px;
}

#curriculum a div:nth-child(1):hover {
    color: black !Important;
    background: -webkit-gradient(linear, left top, right top, from(White), to(White)) !Important;
    background: -webkit-linear-gradient(left, White, White) !Important;
    background: -o-linear-gradient(left, White, White) !Important;
    background: linear-gradient(to right, White, White) !Important;
}

.small-vertical-content-container img {
    width: 100%;
    height: auto;
    z-index: -2;
    border-radius: 6px 6px 0 0;
}

.small-vertical-content-container .course-detail {
    height: 185px;
    margin-left: 1rem;
}

.small-vertical-content-container .shadow {
    position: Absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    -webkit-box-shadow: inset 6px 6px 10px 7px rgba(0, 0, 0, 0.70);
    box-shadow: inset 6px 6px 10px 7px rgba(0, 0, 0, 0.70);
}

#curriculum .small-vertical-content-container p:nth-child(1) {
    font-size: 2rem;
    Font-weight: 700;
    margin-top: 16px;
}

#curriculum .small-vertical-content-container p:nth-child(2) {
    font-family: Helvetica, Arial;
    color: Inherit;
    font-size: 1rem;
    margin-top: 16px;
}

#curriculum .small-vertical-content-container p:nth-child(3) {
    font-family: Helvetica, Arial;
    color: Inherit;
    font-size: 1rem;
    margin-top: 32px;
}

#curriculum a:nth-child(Odd) div:nth-child(1) {
    color: white;
    background: -webkit-gradient(linear, left top, left bottom, from(var(--OldBrickRed)), color-stop(var(--OldBrickRed)), to(Pink));
    background: -webkit-linear-gradient(top, var(--OldBrickRed), var(--OldBrickRed), Pink);
    background: -o-linear-gradient(top, var(--OldBrickRed), var(--OldBrickRed), Pink);
    background: linear-gradient(to bottom, var(--OldBrickRed), var(--OldBrickRed), Pink);
}

#curriculum a:nth-child(Even) div:nth-child(1) {
    color: White;
    background: -webkit-gradient(linear, left top, left bottom, from(Black), color-stop(Black), to(Lightgray));
    background: -webkit-linear-gradient(top, Black, Black, Lightgray);
    background: -o-linear-gradient(top, Black, Black, Lightgray);
    background: linear-gradient(to bottom, Black, Black, Lightgray);
}

#curriculum a:nth-child(n+3) div:nth-child(1) .course-detail p:nth-child(2) {
    margin-top: 48px;
}

#curriculum-mobile {
    display: none;
}

#thesis {
    Display: block;
    padding-top: 0;
    -webkit-box-pack: Space-between;
    -ms-flex-pack: Space-between;
    justify-content: Space-between;
    color: Gray;
    background-color: Beige;
}

.video-container {
    float: left;
    margin-left: 1.5rem;
    width: 54%;
    font-family: Helvetica, Arial;
    color: Gray;
    Background-color: Beige;
}

.video-container video {
    width: 100%;
    height: auto;
}

.video-container p:nth-child(2) {
    font-size: 2rem;
    Font-weight: 700;
    margin-top: 16px;
    margin-bottom: 8px;
}

.video-container p:nth-child(3) {
    font-family: Times, Serif;
    font-size: 1.25rem;
    font-style: italic;
}

#thesis .large-vertical-content-container p:nth-child(3) {
    font-family: Helvetica, Arial;
    Color: Inherit;
    font-size: 1rem;
    margin-bottom: 32px;
}

#thesis .large-vertical-content-container p:nth-child(4) {
    font-family: Helvetica, Arial;
    Color: Inherit;
    font-size: 1rem;
    margin-top: 48px;
}

#thesis .tile-container {
    display: Inline-flex;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 40%;
    margin-left: 1.5rem;
}

#thesis-mobile {
    display: none;
}

footer h2 {
    margin-left: 1.5rem;
}

footer a {
    color: inherit;
    margin: 0 0.5rem;
}

footer div {
    margin-right: 1.5rem;
}

.copyright-notice span {
    font-family: Helvetica, Arial;
}

footer,
section {
    background-color: beige;
    border-radius: 4px;
    margin-bottom: 1rem !Important;
}

footer {
    font-family: 'Ringbearer Medium', "Graduate Regular";
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#footer-mobile {
    display: none;
}

#countdown-timer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 500px;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: Black;
    background-color: var(--OldBrickRed);
    background-color: Beige;
    background: -webkit-gradient(linear, left top, right top, from(black), color-stop(gray), color-stop(lightgray), color-stop(gray), to(black));
    background: -webkit-linear-gradient(left, black, gray, lightgray, gray, black);
    background: -o-linear-gradient(left, black, gray, lightgray, gray, black);
    background: linear-gradient(to right, black, gray, lightgray, gray, black);
    font-weight: 600;
    padding-bottom: 10px;
    border-radius: 6px;
    -webkit-box-shadow: 2px 2px 8px 2px black;
    box-shadow: 2px 2px 8px 2px black;
    /* Note: Regarding the box-shadow property, in Safari (on PC) the color parameter is required. If you do not specify the color, the shadow is not displayed at all. */
    padding: 8px;
    -webkit-transition: opacity 5000ms;
    -o-transition: opacity 5000ms;
    transition: opacity 5000ms;
}

.close-button {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 35px;
    height: 35px;
    opacity: 0.3;
    border-radius: 50%;
}

.close-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.close-button:before,
.close-button:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: White;
}

.close-button:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.close-button:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.headings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

#countdown-timer h1 {
    font-size: 1.25rem;
    padding: 10px;
}

#countdown-timer .headings h2 {
    width: 100px;
    text-align: center;
    font-family: 'lcd standard';
}

#countdown-timer .data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    font-family: 'lcd standard';
    font-weight: bold;
    font-size: 2rem;
}

#countdown-timer .data div {
    text-shadow: 2px 2px 2px;
    text-align: center;
    width: 100px;
    height: 40px;
    line-height: 40px;
    Color: Black;
    background-color: Lightgray;
    -webkit-box-shadow: inset 3px 3px 7px 2px Black;
    box-shadow: inset 3px 3px 7px 2px Black;
    border-radius: 4px;
}

#countdown-timer.close {
    opacity: 0;
}

.menu-container {
    position: fixed;
    top: 50%;
    left: 200px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#context-menu {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: Center;
    -ms-flex-pack: Center;
    justify-content: Center;
    background: black;
    opacity: 0.6 !Important;
    height: 275px;
    text-decoration: none;
    background-color: black;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 4px;
}

#context-menu div.anchor-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 250px;
    height: 50px;
    line-height: 50px;
}

#context-menu a {
    text-decoration: none;
    color: Beige;
}

#context-menu a:hover {
    color: Black;
    background-color: Gray;
}

footer {
    background-color: beige;
    padding: 1rem 0;
}

@media only screen and (max-width: 768px) {
    #context-menu {
        display: none;
    }
    html {
        color: var(--ColmarGreen);
        background-color: white;
    }
    section {
        margin-bottom: 0 !Important;
        border-bottom: 1px Solid Skyblue;
    }
    #video-container {
        display: none;
    }
    .countdown-container {
        display: none;
    }
    .flex-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    #banner,
    section {
        background-color: Beige;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0px;
    }
    .mobile-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        position: fixed;
        left: 0;
        top: 0;
        Width: 100%;
        padding-top: 0.625rem;
        background: -webkit-gradient(linear, left top, right top, from(Black), color-stop(var(--BrickRed)), to(Black));
        background: -webkit-linear-gradient(left, Black, var(--BrickRed), Black);
        background: -o-linear-gradient(left, Black, var(--BrickRed), Black);
        background: linear-gradient(to right, Black, var(--BrickRed), Black);
    }
    .mobile-header img {
        width: Auto;
        height: auto;
    }
    #navbar {
        display: none;
    }
    #banner-content {
        width: 100% !Important;
        margin: 0 auto;
        margin-top: 1rem;
        padding-bottom: 2rem;
    }
    #banner img {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    #banner #start-button {
        margin: 0 1rem;
        background: -webkit-gradient(linear, left top, right top, from(Black), color-stop(var(--ColmarGreen)), to(Black));
        background: -webkit-linear-gradient(left, Black, var(--ColmarGreen), Black);
        background: -o-linear-gradient(left, Black, var(--ColmarGreen), Black);
        background: linear-gradient(to right, Black, var(--ColmarGreen), Black);
    }
    #banner-content {
        margin: 0;
    }
    #banner-content p {
        margin-left: 1rem;
    }
    #banner-content p:nth-child(1) {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    #banner-content p:nth-child(2) {
        color: darkcyan;
        font-style: italic;
        margin-bottom: 1.5rem;
    }
    #general-info {
        display: none;
    }
    #general-info-mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        padding-top: 1rem;
    }
    #general-info-mobile img {
        width: 100%;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    #general-info-mobile div {
        margin-left: 2rem;
        margin-top: 1rem;
    }
    #general-info-mobile h2:nth-child(Odd) {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }
    #general-info-mobile div p {
        margin-bottom: 1rem;
    }
    #general-info-mobile div:nth-child(n) {
        margin-bottom: 4rem;
    }
    #general-info-mobile div h2:nth-child(2) {
        margin-bottom: 1rem;
    }
    #general-info-mobile div h2:nth-child(3) {
        font-size: 1rem;
    }
    #general-info-mobile div a {
        color: red;
        font-weight: bold;
    }
    #general-info-mobile div:nth-child(1) a {
        color: red;
        font-weight: bold;
    }
    #curriculum {
        display: none;
    }
    #curriculum-mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    #curriculum-mobile h2 {
        font-family: "Graduate Regular", Helvetica;
        font-size: 2rem;
        color: var(--OldBrickRed);
        margin-bottom: 1rem;
    }
    #curriculum-mobile div p {
        color: White !Important;
        padding: 1rem;
        font-size: 1rem;
        font-weight: 600;
        text-align: left;
    }
    #curriculum-mobile div a:nth-child(Odd) p {
        color: Beige;
        background: -webkit-gradient(linear, left top, right top, from(var(--ColmarGreen)), color-stop(var(--ColmarGreen)), to(beige));
        background: -webkit-linear-gradient(left, var(--ColmarGreen), var(--ColmarGreen), beige);
        background: -o-linear-gradient(left, var(--ColmarGreen), var(--ColmarGreen), beige);
        background: linear-gradient(to right, var(--ColmarGreen), var(--ColmarGreen), beige);
    }
    #curriculum-mobile div a:nth-child(Even) p {
        color: Beige;
        background: -webkit-gradient(linear, right top, left top, from(var(--BrickRed)), color-stop(var(--BrickRed)), to(beige));
        background: -webkit-linear-gradient(right, var(--BrickRed), var(--BrickRed), beige);
        background: -o-linear-gradient(right, var(--BrickRed), var(--BrickRed), beige);
        background: linear-gradient(to Left, var(--BrickRed), var(--BrickRed), beige);
    }
    #curriculum-mobile div a {
        margin-bottom: 1rem;
    }
    #thesis {
        display: none;
    }
    #thesis-mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 2rem;
    }
    #thesis-mobile h2 {
        font-size: 2rem;
        color: var(--OldBrickRed);
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    #thesis-mobile .video-container {
        width: 100%;
        margin: 0;
        margin-bottom: 3.5rem;
    }
    footer {
        display: none !Important;
    }
    #footer-mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: fixed;
        left: 0;
        bottom: 0;
        Justify-content: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-family: "Graduate Regular", Helvetica;
        font-size: 0.75rem;
        text-align: justify;
        color: beige;
        background-color: black;
    }
    #footer-mobile h2 {
        padding: 0;
        margin: 0;
    }
    #footer-mobile .copyright-notice span {
        font-family: Helvetica, Arial;
    }
    .spacer {
        display: none;
    }
    .mobile-spacer {
        display: block!Important;
    }
}

.change-cursor {
    cursor: pointer;
}

