* {
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

html {
    font-family: Helvetica, Arial, sans-serif;
}

@font-face {
    font-family: "LCD Standard";
    src: url(../../resources/fonts/LcdStd.otf);
}

@font-face {
    font-family: "Ringbearer Medium";
    src: url(../../resources/fonts/RINGM.ttf) format("truetype");
}

body {
    background-image: url("../../resources/images/parc-attractions-haut.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-container {
    display: flex;
    width: 960px;
    margin: 0 auto;
    align-items: center;
}

header {
    width: auto !important;
    justify-content: space-between;
    height: 80px;
    background: linear-gradient(to Right, Red, rgba(10, 10, 10, 1));
    border-radius: 8px;
}

header div {
    display: flex;
    font-size: 12px;
    font-family: "ringbearer medium";
}

#logo {
    background-color: red;

}

#logotype {
    display: flex;
    align-items: center;
    height: 70px;
    color: Black;
    background-color: White;
    box-shadow: inset 2px 2px 8px 2px;
    border-radius: 4px;
}

header nav {
    margin-right: 1em;
}

header nav a {
    font-family: inherit;
    color: beige;
    margin: 0 1em;
    text-decoration: none;
}

#banner div {
    width: 40%;
}

.horizontal-tile-large img {
    width: 60%;
    Margin-right: 2em;
    Float: left;
    padding: 32px 24px;
}

.horizontal-tile-large p:nth-child(1) {
    font-family: Helvetica, Arial;
    Color: gray;
    font-size: 2em;
    Font-weight: 700;
}

.horizontal-tile-large p:nth-child(2) {
    font-family: Times, Arial;
    Color: gray;
    font-size: 2em;
    Font-weight: 700;
}

.horizontal-tile-large p:nth-child(3) {
    font-family: Courier, Arial;
    Color: gray;
    font-size: 2em;
    Font-weight: 700;
}

#bulletins {
    justify-content: flex-start;
    padding-right: 0;
    color: gray;
    background-color: Beige;
}

.vertical-tile-large {
    width: 60%;
    padding: 32px 24px;
}

.vertical-tile-large img {
    width: 100%;
    height: auto;
}

.vertical-tile-large p:nth-child(1) {
    font-size: 2em;
    Font-weight: 700;
    text-shadow: 2px 2px black;
}

.vertical-tile-large p:nth-child(2) {
    font-family: Helvetica, Arial;
    Color: Inherit;
    font-size: 1em;
}

.vertical-tile-large p:nth-child(3) {
    font-family: Helvetica, Arial;
    Color: Inherit;
    font-size: 1em;
    margin-top: 48px;
}

#tile-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 1.5em;
}

.horizontal-tile-small {
    padding: 1em;
}

.horizontal-tile-small img {
    Width: 35%;
    Height: auto;
    float: left;
}

#courses {
    justify-content: center;
    flex-wrap: wrap;
    background-color: Beige;
}

#courses h2 {
    width: 100%;
    text-align: center;
    font-size: 2.5em;
}

#courses .vertical-tile-small {
    width: 25%;
    font-family: Helvetica, Arial;
    color: Gray;
    Background-color: White;
    box-shadow: inset 5px 5px 15px 10px;
    margin: 0 16px;
}

#courses .vertical-tile-small:nth-child(n + 1) {
    Margin-bottom: 32px;
}

#courses .vertical-tile-small img {
    height: auto;
    max-width: 100%;

}

#courses .vertical-tile-small div {
    margin-left: 16px;
}

#courses .vertical-tile-small p:nth-child(1) {
    font-size: 2em;
    Font-weight: 700;
    margin-top: 16px;
}

#courses .vertical-tile-large p:nth-child(2) {
    font-family: Helvetica, Arial;
    Color: Inherit;
    font-size: 1em;
}

#courses .vertical-tile-large p:nth-child(3) {
    font-family: Helvetica, Arial;
    Color: Inherit;
    font-size: 1em;
    margin-top: 48px;
}

#thesis {
    flex-wrap: wrap;
    /* this was the fix! */
    padding-top: 0;
    justify-content: flex-start;
    background-color: Beige;

}

#thesis h2:first-child {
    font-size: 2.5em;
    text-align: center;
    width: 100%;
}

.video-container {
    padding-left: 1.5em;
    width: 54%;
    font-family: Helvetica, Arial;
    color: Gray;
    Background-color: Beige;
    margin-bottom: 1em;
}

.video-container video {
    width: 100%;
    height: auto;
}

.video-container p:nth-child(2) {
    font-size: 2em;
    Font-weight: 700;
}

.vertical-tile-large p:nth-child(3) {
    font-family: Helvetica, Arial;
    Color: Inherit;
    font-size: 1em;
}

.vertical-tile-large p:nth-child(3) {
    font-family: Helvetica, Arial;
    Color: Inherit;
    font-size: 1em;
    margin-top: 48px;
}

.tile-container {
    display: inline-flex;
    overflow: hidden;
    flex-direction: column;
    width: 40%;
    margin-left: 1.5em;
}

.horizontal-tile-small {
    padding: 1em;
    width: 100%;
}

.horizontal-tile-small img {
    Width: 35%;
    Height: auto;
    float: left;
}

footer {
    font-family: "Ringbearer Medium";
    color: beige;
    background-color: Black !Important;
    justify-content: space-between;
}

footer a {
    color: inherit;
    text-decoration: none;
}

.copyright-notice span {
    font-family: Helvetica, Arial;

}

section {
    margin-bottom: 1em !Important;
}

.countdown-timer {
    font-family: 'LCD Standard', Georgia;
    font-size: 1.25em;
    color: beige;
    background-color: black;
    word-spacing: 0.25em;
    width: 33%;
    text-align: center;
    margin: 0 auto;
    background: none;
}

footer,
section {
    background-color: beige;
    border-radius: 10px;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.9;
}

.sticky + .content {
    padding-top: 60px;
}
